target/classes/delete-product-sapi-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="delete-product-sapi-impl-private-flow" doc:id="cf30bf93-ba1b-4f95-95d3-c69bcf616e46" >
		<set-variable value="#[attributes.uriParams.id]" doc:name="vProduct_id" doc:id="bfc6fa9a-b5f4-49ab-89c3-34511b00cc6c" variableName="vProduct_id"/>
		<db:delete doc:name="Delete" doc:id="342314e7-b7d4-4207-8709-a56cccc6a8a7" config-ref="Database_Config_snowflake">
			<db:sql ><![CDATA[DELETE FROM product WHERE product_id =:id
]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	id : vars.vProduct_id
}]]]></db:input-parameters>
		</db:delete>
		<ee:transform doc:name="Transform Message" doc:id="a0dedbd8-c9d8-487e-8c6d-a2a1a20ba47b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  Message: "Deleted Successfully.....!!"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
